.container {
    padding-bottom: 150px;
}

.colorsWrapper {
    justify-content: space-between;    
}

.divWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    margin-bottom: 20px;

    border: 1px solid #f5f5f7;
    border-radius: 30px;
    background-color: #f5f5f7;    
}

.h2 {
    margin-top: 150px;
}

.spanMargin {    
    margin-bottom: 10px;
}



