.container {   
    background-color: #0a0a0a;
}

.footerWrapper {
    padding: 66px 0;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.spanColor {
    color: #717171;
}