.container {
    background-color: #f5f5f7;
}

.mainWrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainImage {
    margin-bottom: 25px;
}

.button {
     margin-bottom: 40px;
}