*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  min-height: 100vh;   
  outline: 1px solid red;

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.container {
  max-width: 1920px;
  width: 100%;
  height: 100%;

  padding: 0 360px;

  outline: 1px solid blue;
}

li {
  list-style: none;
}

nav {
  font-weight: 400;
  font-size: 24px;
  color: #717171;
}

h1 { 
  margin: 71px 0 40px;

  /** FIGMA **/ 
  font-weight: 700;
  font-size: 64px;
  color: #490e84;

  
}

h2 {  
  /** FIGMA **/ 
  font-weight: 700;
  font-size: 32px;
  color: #717171;
}

