*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

section {
  min-height: 100vh;   
  /* outline: 1px solid red; */

  display: flex;
  flex-direction: column;
  align-items: center; 
}

.container {
  max-width: 1920px;
  width: 100%;
  height: 100%;

  padding: 0 360px;

  /* outline: 1px solid blue; */
}

li {
  list-style: none;
}

nav, footer {
  font-weight: 400;
  font-size: 24px;
  color: #717171;
}

h1 { 
  margin: 71px 0 40px;

  /** FIGMA **/ 
  font-weight: 700;
  font-size: 64px;
  color: #490e84;  
}

h2 {  
  text-align: center;
  margin-bottom: 50px;

  /** FIGMA **/ 
  font-weight: 700;
  font-size: 32px;
  color: #717171;
}

p {
  /** FIGMA **/ 
  font-weight: 400;
  font-size: 14px;
  
  line-height: 1.3;
  color: #0a0a0a;
}

span {
  display: block;
}

.fontMainStyle {
  /** FIGMA **/ 
  font-weight: 700;
  font-size: 20px;

  /* line-height: 26px; */ 
  line-height: 1.3;
  color: #0a0a0a;
}

.fontSecondaryStyle {
  /** FIGMA **/ 
  font-weight: 400;
  font-size: 14px;

  /* line-height: 18px; */ 
  line-height: 1.3;
  color: #0a0a0a;
}

input {
  padding-bottom: 10px;

  border: none;
  border-bottom: 1px solid #f5f5f5;
  background-color: transparent;
}

input::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 14px;


    line-height: 1.3;
    color: #fff;
    opacity: 0.5;
}

